

<div class="login-box">
  <a href=""><img class="logo framed"
    src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png"
    alt="logo" /></a>
  <h2>Inicia Sesion</h2>
  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <div class="user-box">
      <input type="text" placeholder="Nombre de Usuario" id="nombreUsuario" name="nombreUsuario"
        [(ngModel)]="nombreUsuario" required name="usuario">
    </div>
    <div class="user-box">
      <input type="password" placeholder="Contraseña" id="password" [(ngModel)]="password" required name="contraseña">
    </div>
    <input class="submit" type="submit" value="Inicia Sesion" class="input input--submit" />
    <h4 class="new">¿Nuevo?<a href="#" routerLink="/register"><strong>Regístrate</strong></a></h4>
  </form>
</div>
