html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  border-bottom: 6px solid white;
  border-left: 6px solid white;

}

.login-box img {
  margin-left: 50px;
  height: 170px;
}
.login-box img:hover{
  filter:invert(10%);
  -webkit-filter:invert(10%);
}
.login-box h2 {
  margin: 0 0 30px;
  font-size: 32px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: visitor2;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}

input[type=submit] {
  font-family: visitor2;
  font-size: 16px;
  padding: 10px 15px;
  background: black;
  color: #fff;
  border: 0 none;
  cursor: pointer;
}

input[type=submit]:hover {
  background: white;
  color: black;

}

.new {
  margin-left: 30%;
  color: white;
}

h4 {
  font-family: pixel;
  font-size: 16px;
}

h4 a {
  color: white;
}

h4 strong:hover {
  color: black;
  background: white;
  padding: 5px 5px;
}

h4 strong {
  font-size: 13px;
}