<div class="form-container" *ngIf="skillb">
    <h1 class="text-center"><a href="">Editar Habilidad BackEnd</a></h1>
    <form (ngSubmit)="onUpdateb()" novalidate #f="ngForm">
        <div class="row">
            <div class="inline-block right-margin">
                <div class="label">
                    Nombre <span id="firstName-info" class="info"></span>
                </div>
                <input type="text" class="input-field" id="nombreB" name="nombreB" [(ngModel)]="skillb.nombreB"
                    required />
            </div>
            <div class="inline-block responsive">
                <div class="label">
                    Porcentaje<span id="lastName-info" class="info"></span>
                </div>
                <input type="text" class="input-field" nid="nombreE2" name="nombreE2" [(ngModel)]="skillb.porcentajeB"
                    required />
            </div>
        </div>

        <div class="row">
            <div class="inline-block responsive porc">
                <span class="cuadrado" style="background-color:color"></span>
            </div>

            <div class="inline-block responsive">
                <input type="range" class="responsive input-field " min="0" max="100" placeholder="Porcentaje"
                    id="porcentaje" name="porcentaje" [(ngModel)]="skillb.porcentajeB" required />
            </div>
        </div>
        <div class="row">
            <input type="submit" name="Enviar" class="btn-submit" value="Enviar" />
        </div>



    </form>
</div>