.container {
    border-top: 6px solid white;
    padding-left: 280px;
    padding-bottom: 75px;
    width: 80%;
    background: black;
    color: white;
    margin-bottom: 0px;
}

.container h4 {
    padding-top: 75px;
    color: white;
    font-family: visitor2;
    font-size: 36px;
    margin-bottom: 30px;
    margin-left: -10px;
  }

.container h5 a {
    color: white;
    font-family: bits;
    font-size: 36px;
    margin-bottom: 30px;
    margin-left: 0px;
    text-decoration: none;

}

.container h4 {
    color: white;
    font-family: visitor2;
    font-size: 36px;
    margin-bottom: 30px;
    margin-left: -10px;
  }

.container h4 a:hover {
    color: #2980b9;
}

.skill-bars {
    margin-top: 50px;
    margin-left:20px;
    display: inline-block;
    vertical-align:top;
    padding: 25px 30px;
    width: 30vw;
    background: black;
    border-left: 5px solid white;
    border-bottom: 5px solid white;


}

.skill-bars .bar {
    margin: 20px 0;
}
.skill-bars h5 {
    font-size: 35px;
    font-family: visitor2;
}
.progress-line {
    padding: 1px 8px;
    font-size: 20px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;

}

.progress-line h6 {
    padding: 1px 0px;
    font-size: 25px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    font-family: visitor2;
}

.link {
    margin-left: 25vw;
    padding-bottom: 10px;
}

.link a {
    padding-right: 20px;

}

.link a:hover {
    color: #2980b9;
}

.bar a {
    color: white;
    margin: 0px;
    font-size: 30px;
    font-family: bits;
    text-decoration: none;
}

.por{
    margin-top: 10px;
}
