<div class="wrapper">
    <form class="form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="pageTitle title">
            <a href="">Nueva Experiencia BackEnd</a>
        </div>
        <div class="secondaryTitle title">

        </div>
        <div>
            <div>
                <input type="text" class="name formEntry" placeholder="Nombre" id="nombreB" name="NombreB"
                    [(ngModel)]="nombreB" required>
            </div>
            <div>
                <input type="text" class="por " placeholder="%" id="porcentajeB" name="porcentajeB"
                    [(ngModel)]="porcentajeB" required>
                <input type="range" class="name formEntry" min="0" max="100" onchange="rangevalue.value=value"
                    placeholder="Porcentaje" id="porcentaje" name="porcentaje" [(ngModel)]="porcentajeB" required />
            </div>
            <div>
                <input type="text" class="name formEntry" placeholder="Color" id="ColorB" name="ColorB"
                    [(ngModel)]="colorB" required>
            </div>


        </div>
        <button class="submit formEntry">Crear</button>
    </form>
</div>