
<div class="form-container" *ngIf="sobremi">
    <h1 class="text-center"><a href="">Editar Persona</a></h1>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="row">
            <div class="inline-block right-margin">
                <div class="label">
                    Nombre<span id="firstName-info" class="info"></span>
                </div>
                <input type="text" class="input-field" id="nombreE" name="nombreE" [(ngModel)]="sobremi.sobreMi" required required />
            </div>
            <div class="inline-block responsive">
                <div class="label">
                    Descripcion <span id="message-info" class="info"></span>
                </div>
                <textarea name="contact-message" class="input-field" cols="60" rows="5" id="descripcionE"
                    name="descripcionE" [(ngModel)]="sobremi.sobreMiT" required></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" name="Enviar" class="btn-submit" value="Enviar" />
        </div>

    </form>
</div>