<div class="wrapper" *ngIf="expLab">
    <form class="form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="pageTitle title">
           <a href="">Editar Experiencia</a>
        </div>
        <div class="secondaryTitle title">

        </div>
        <div>
            <div>
                <input type="text" class="name formEntry" placeholder="Nombre" id="nombreE" name="nombreE"
                    [(ngModel)]="expLab.nombreE" required>
            </div>
            <div>
                <input type="text" class="email formEntry" id="nombreE2" name="nombreE2" placeholder="Extra/Tiempo"
                    [(ngModel)]="expLab.nombreE2" required>
            </div>
            <div>
                <textarea class="message formEntry" placeholder="Descripcion" id="descripcionE" name="descripcionE"
                [(ngModel)]="expLab.descripcionE" required></textarea>
            </div>
        </div>
        <button class="submit formEntry">Crear</button>
    </form>
</div>