<div class="container2" id="experiencias">
    <h4>Experiencia <a href="" routerLink="/nuevaexp" *ngIf="isLogged">Q</a></h4>
    <div class="container" id="experiencia">
        <div class="card" *ngFor="let Experiencia of expe">
            <a href="#" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">O</a>
            <a href="#" (click)="delete(Experiencia.id)" *ngIf="isLogged">P</a>
            <div class="card2">
                <img src="{{Experiencia.imgE}}" alt="Agregar IMG en Editar"
                    class="profile" />
                <h2>{{Experiencia.nombreE}}</h2>
                <h3>{{Experiencia.nombreE2}}</h3>
                <p>{{Experiencia.descripcionE}}</p>

            </div>
        </div>


    </div>
</div>