#title-Tag-Line {
	font-size: 20px;
}

.card-item__bg {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: block;
	position: relative;
	margin: 30px auto;
	transform: translate(0px, 50px);
	z-index: 5;
}


.form {
	background: #1c1c1c;

	border-radius: 5px;
	max-width: 500px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px 5px;
	left: 0;
	right: 0;
	position: absolute;
	/*   z-index: 1; */
	animation: bounce 1.5s infinite;
	border-bottom: 6px solid white;
	border-right: 6px solid white;

}

::-webkit-input-placeholder {
	font-size: 1.3em;
}

.title {
	display: block;
	font-family: pixel;
	font-size: 60px;
	margin: 10px auto 5px;


}

.termsConditions {
	margin: 0 auto 5px 80px;
}

.pageTitle {
	margin: 40px 20px 40px;
	font-size: 3em;
	letter-spacing: 1px;
	color: white;
}

.secondaryTitle {
	color: grey;
}

.name {
	background-color: white;
	color: Black;
	font-size: 20px;
	font-family: pixel;
}


.email {
	background-color: white;
	color: Black;
	font-size: 20px;
	height: 2em;
	font-family: pixel;
}



.message {
	background-color: white;
	overflow: hidden;
	color: Black;
	font-size: 20px;
	height: 10rem;
	font-family: pixel;
}



.formEntry {
	display: block;
	margin: 30px auto;
	min-width: 300px;
	padding: 10px;
	border-radius: 2px;
	border: none;

}

.submit {
	font-family: pixel;
	width: 320px;

	background-color: white;
	font-size: 20px;
}

.submit:hover {

	background: #f4f4f4;

}

.pageTitle a {
	font-family: pixel;
	color: white;
	line-height: 1em;
	text-decoration: none;
}

.pageTitle a:hover {
	color: #f4d783;
}