.card-container{
    padding-top: 20px;
    background:black;

}
.card-container2{
    border-top: 6px solid white;
}
.contacto2{
    align-items: center;
    place-items: center;
    background: black;
    padding-top: 100px;
    padding-left: 35vw;


}
.contacto3{
    align-items: center;
    place-items: center;
    background: black;
    padding-top: 50px;
    padding-left: 40vw;


}
.wrapper {
    display: inline-flex;


}

.wrapper .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a {
    color: black;
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a i {
    line-height: 60px;
    font-size: 25px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;

    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;

}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover a {
    color: #fff;
}

.wrapper .icon:hover a,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover a,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
    background: #3B5999;
}

.wrapper .twitter:hover a,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
    background: #46C1F6;
}

.wrapper .instagram:hover a,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
    background: #e1306c;
}

.wrapper .github:hover a,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
    background: #333;
}

.wrapper .discord:hover .tooltip {
    top: -90px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .discord:hover a,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip:before {
    background: #7289d9;
}





.footer-distributed {
    background: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 900px;
    text-align: left;
    font: bold 16px sans-serif;

}


.footer-distributed .footer-center {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 40px;
}




.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
    ;
}

.footer-distributed .footer-center p a:hover {
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
    ;
}