<div class="card-container" id="contacto">
    <div class="card-container2">
        <div class="contacto2">
            <div class="wrapper">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <a rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100008366831864"
                        target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>

            </div>
            <div class="wrapper">
                <div class="icon instagram">
                    <div class="tooltip">Instagram</div>
                    <a rel="noopener noreferrer" href="https://www.instagram.com/jeremiasluquez/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>

            </div>
            <div class="wrapper">
                <div class="icon github">
                    <div class="tooltip">GitHub</div>
                    <a rel="noopener noreferrer" href="https://github.com/ljuga" target="_blank"><i
                            class="fab fa-github"></i></a>
                </div>

            </div>
            <div class="wrapper">
                <div class="icon discord">
                    <div class="tooltip">Discord <br>Ljuga#3438</div>

                    <a><i class="fa-brands fa-discord"></i></a>

                </div>

            </div>
        </div>
    </div>




    <div class="contacto3">
        <div class="footer-distributed">
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Belardez 11</span> Unquillo, Cordoba/Argentina</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+45 9 3543 53-3192</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:Ljuga8@gmail.com">Ljuga8@gmail.com</a></p>
                </div>
            </div>

        </div>
    </div>
</div>