<div class="wrapper" *ngIf="proy">
    <form class="form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="pageTitle title">
            <a href="">Editar Proyecto</a>
        </div>
        <div class="secondaryTitle title">

        </div>
        <div>
            <div>
                <input type="text" class="name formEntry" placeholder="Nombre" id="nombreP" name="nombreP"
                    [(ngModel)]="proy.nombreP" required>
            </div>
            <div>
                <input type="text" class="email formEntry" id="nombrePT" name="nombrePT" placeholder="Extra/Etiqueta"
                    [(ngModel)]="proy.nombrePT" required>
            </div>
            <div>
                <input type="text" class="email formEntry" id="nombreL" name="nombreL" placeholder="Link"
                    [(ngModel)]="proy.nombreL" required>
            </div>
            <div>
                <textarea class="message formEntry" placeholder="Descripcion" id="descripcionE" name="descripcionp"
                [(ngModel)]="proy.descripcionP" required></textarea>
            </div>
        </div>
        <button class="submit formEntry">Crear</button>
    </form>
</div>