
<div class="wrapper">
    <form class="form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="pageTitle title">
            <a href="">Nuevo Proyecto</a>
        </div>
        <div class="secondaryTitle title">

        </div>
        <div>
            <div>
                <input type="text" class="name formEntry" placeholder="Nombre" id="nombreE" name="nombreE"
                    [(ngModel)]="nombreP" required>
            </div>
            <div>
                <input type="text" class="email formEntry" id="nombrePT" name="nombrePT" placeholder="Extra/Etiqueta"
                    [(ngModel)]="nombrePT" required>
            </div>
            <div>
                <input type="text" class="email formEntry" id="nombreE2" name="nombreE2" placeholder="Link"
                    [(ngModel)]="nombreL" required>
            </div>
            <div>
                <textarea class="message formEntry" placeholder="Descripcion" id="descripcionE" name="descripcionP"
                [(ngModel)]="descripcionP" required></textarea>
            </div>
        </div>
        <button class="submit formEntry">Crear</button>
    </form>
</div>