.proyectos {
    border-top: 6px solid white;
    padding-bottom: 75px;
    background: black;

}

.cards {

    padding-top: 75px;
    margin-left: 300px;
    color: white;
}

.cards h3 {
    color: white;
    font-family: visitor2;
    font-size: 36px;
    margin-bottom: 30px;
    margin-left: -10px;
}

.cards h3 a {
    font-family: bits;
    text-decoration: none;
    color: white;
}

.cards h3 a:hover {
    color: #2980b9;
}

.container {
    vertical-align: top;
    width: fit-content;
    padding: 30px;
    padding-top: 0px;
    margin-right: 20px;
    display: inline-block;
    border-bottom: 6px solid white;
    border-left: 6px solid white;
    text-align: left;
}

.card img {
    width: 300px;
}


.plus {

    padding: 5px;
}

.card h2 {
    display: block;
}

.card h2 a {
    margin-left: 10px;
}

.card h4 {
    margin-top: -20px;
    display: block;
    font-size: 0.8em;
    opacity: 0.8;
}

.card p {
    font-size: 0.8em;
    letter-spacing: 1px;

}

.icon {
    text-align: right;
    position: relative;

}

.icon a {
    color: white;
    font-family: bits;
    font-size: 36px;
    margin-left: 20px;
    text-decoration: none;

}

.icon a:hover {
    color: #2980b9;
}