
  .box{
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: black;
    position: fixed;
    z-index: 100000;
    
  }

  .loader4{
    position: relative;
    width: 150px;
    height: 30px;
    top: calc(45% - 10px);
    left: 25%;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);
    background-color: rgba(255,255,255,0.2);
  }
  
  .loader4:before{
        content: "";
        position: absolute;
        background-color: #fff;
        top: 0px;
        left: 0px;
        height: 30px;
        width: 0px;
        z-index: 0;
        opacity: 1;
        transform-origin:  100% 0% ;
        animation: loader4 3s ease-in-out infinite;
        -webkit-animation: loader4 3s ease-in-out infinite;
}
  
  .loader4:after{

    content: "CARGANDO ...";
    color: #fff;
    font-family: visitor2;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0;

  }
  
  @-webkit-keyframes loader4{
      0%{width: 0px;}
      70%{width: 100%; opacity: 1;}
      90%{opacity: 0; width: 100%;}
      100%{opacity: 0;width: 0px;}
  }
  
  @keyframes loader4{
      0%{width: 0px;}
      70%{width: 100%; opacity: 1;}
      90%{opacity: 0; width: 100%;}
      100%{opacity: 0;width: 0px;}
  }
  